.footer{
    background-color: #222222;
    padding: 10px 0;
    align-self: flex-end;
    width: 100%;
    font-weight: 300;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    img{
        width: 13px;
        padding: 0 2px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}